
{% extends 'general/components/base.html' %}

{% block site_title %}หนังสือทั้งหมด | {% endblock %}

{% block content %}
<div>
    <h1>Welcome to Books page</h1>
    {% for book in books %}
        <div style="background-color:aqua">
            <h3><a href="{% url 'book' book.id %}">{{book.title}}</a></h3>
            {% if book.special_price is not None %}
                <p>
                    <sapn> {{book.special_price|floatformat:'g'}} บาท</sapn>
                    <del>{{book.price|floatformat:'g'}} บาท</del>
                </p>
            {%else%}
                <p>{{book.price|floatformat:'g'}} บาท</p>

            {% endif %}
            {% if book.is_premium %}
                <p>**หนังสือระดับพรีเมียม</p>
            {% endif %}
            <p>โปรโมชั่นสิ้นสุด {{book.pmt_end|date:'j N Y'}}</p>
        </div>
    {% empty %}
        <h2>ไม่มีข้อมูล**</h2>
    {% endfor %}
</div>
{% endblock  %}
